@using eOdsustva.SoftverskoInzenjerstvo.Common
@model eOdsustva.SoftverskoInzenjerstvo.Data.LeaveAllocation

@{
    ViewData["Title"] = "Kreiraj Dodelu Odsustva";
}

<h1>Kreiraj</h1>
<h4>Dodelu Odsustva</h4>
<hr />

<div class="row">
    <div class="col-md-6 col-lg-5">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label class="form-label">Tip Odsustva</label>
                <select asp-for="LeaveTypeId" class="form-select" asp-items="ViewBag.LeaveTypeId">
                    <option value="">-- Selektuj Tip Odsustva --</option>
                </select>
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Zaposleni</label>
                <select asp-for="EmployeeId" class="form-select" asp-items="ViewBag.EmployeeId">
                    <option value="">-- Selektuj Zaposlenog --</option>
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Period</label>
                <select asp-for="PeriodId" class="form-select" asp-items="ViewBag.PeriodId">
                    <option value="">-- Selektuj period --</option>
                </select>
                <span asp-validation-for="PeriodId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Dana</label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2">
                @if (User.IsInRole(Roles.Supervisor))
                    {
                         <button type="submit" class="btn btn-primary">Kreiraj</button>
                    }
                <a asp-action="Index" class="btn btn-outline-secondary">Nazad na Listu</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
